@inherits LayoutComponentBase
@using Blazor.Shared.Entities.Identity;
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication;
@using Microsoft.AspNetCore.Components.Authorization
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.SplitButtons
@inject NavigationManager NavigationManager
@inject SignOutSessionStateManager SignOutManager
@attribute [Authorize]

<div class="appbar-control-container">
    <SfAppBar ColorMode="AppBarColor.Dark">
        <SfButton CssClass="e-inherit" IconCss="e-icons e-home" OnClick="onHomeBtnClick"></SfButton>
        <AuthorizeView>
            <Authorized>
                <SfDropDownButton CssClass="e-inherit" IconCss="e-icons e-line-normal" Content="Carousel">
                    <DropDownMenuItems>
                        <AuthorizeView Policy="@Policies.FromFrance" Context="FrenchUserContext">
                            <Authorized>
                                <DropDownMenuItem Text="Manage" IconCss="e-icons e-field-settings" Url="/ManageCarouselItems"></DropDownMenuItem>
                            </Authorized>
                        </AuthorizeView>
                        <DropDownMenuItem Text="Create" IconCss="e-icons e-insert-right"></DropDownMenuItem>
                        <DropDownMenuItem Text="Claims" IconCss="e-icons e-insert-right" Url="/Claims"></DropDownMenuItem>
                    </DropDownMenuItems>
                </SfDropDownButton>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView>
            <Authorized>
                <SfDropDownButton CssClass="e-inherit" IconCss="e-icons e-line-normal" Content="Products">
                    <DropDownMenuItems>
                        <AuthorizeView Policy="@Policies.FromCzechRepublic" Roles="@Roles.Administrator" Context="CzechAdminUserContext">
                            <Authorized>
                                <DropDownMenuItem Text="Manage" IconCss="e-icons e-field-settings" Url="/FetchData"></DropDownMenuItem>
                            </Authorized>
                        </AuthorizeView>
                        <DropDownMenuItem Text="Create" IconCss="e-icons e-insert-right"></DropDownMenuItem>
                        <DropDownMenuItem Text="Claims" IconCss="e-icons e-insert-right" Url="/Claims"></DropDownMenuItem>
                    </DropDownMenuItems>
                </SfDropDownButton>
            </Authorized>
        </AuthorizeView>

        <AppBarSpacer></AppBarSpacer>
        @*<div style="width:400px" class="ralign">
            <span class="e-input-group e-control-wrapper e-inherit">
                <input type="text" class="e-searchinput e-input" placeholder="Search" />
                <span class="e-icons e-search e-input-group-icon"></span>
            </span>
        </div>
        <AppBarSpacer></AppBarSpacer>*@

        <AuthorizeView>
            <Authorized>
                @*<SfButton CssClass="e-inherit" @onclick="BeginSignOut" IconCss="e-icons e-user" Content="@String.Join(' ', "Hello,", @context.User.Identity?.Name!, "   Log out")"><LoginDisplay></LoginDisplay></SfButton>*@
                <SfButton CssClass="e-inherit" @onclick="BeginSignOut" IconCss="e-icons e-user" Content="Log out"><LoginDisplay></LoginDisplay></SfButton>
            </Authorized>
            <NotAuthorized>
                <SfButton CssClass="e-inherit" @onclick="BeginLogin" IconCss="e-icons e-user" Content="Log in"><LoginDisplay></LoginDisplay></SfButton>
            </NotAuthorized>
        </AuthorizeView>
    </SfAppBar>
</div>
<br/>

<div class="page">
    <main>
        <article class="content px-4 text-center">
            @Body
        </article>
    </main>
</div>

@code{
    public void onNavBtnClick() => NavigationManager.NavigateTo("#");

    public void onHomeBtnClick() => NavigationManager.NavigateTo("#");

    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        NavigationManager.NavigateTo("authentication/logout");
    }

    private void BeginLogin()
    {
        NavigationManager.NavigateTo("authentication/login");
    }
}


<style>
    .appbar-control-container .e-btn.e-inherit {
        margin: 0 3px;
    }

    .ralign {
        margin-right: 15px;
    }
</style>