@page "/ManageCarouselItems"
@using Blazor.Presentation.Client.Services;
@using Blazor.Shared.Entities.DataTransferObjects
@using Blazor.Shared.Entities.Identity;
@using Blazor.Shared.Entities.RequestFeatures
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons
@using SelectionType = Syncfusion.Blazor.Grids.SelectionType
@inject CarouselItemService CarouselItemService
@attribute [Authorize(Policy = Policies.FromFrance)]

<PageTitle>Carousel Items</PageTitle>

<h1>Management</h1>

<h2>Create Carousel Item</h2>
@if (_carouselItemForCreation?.Image != null)
{
    <div class="row">
        <div class="col-4">
            @if (_carouselItemForCreation.Image.ImageFile is null)
            {
                <figure class="img-container">
                    <img src="images/image-placeholder.jpg" alt="Image Place Holder" style="height:100%;width:100%;" />
                    <figcaption class="img-caption">Image Place Holder for Caption</figcaption>
                </figure>
            }
            else
            {
                <figure class="img-container">
                    <img src="@_selectedRow.Image" alt="@_selectedRow.ImageAlternativeText" style="height:100%;width:100%;" />
                    <figcaption class="img-caption">@_selectedRow.ImageCaption</figcaption>
                </figure>
            }
        </div>
        <div class="col-8">
            <SfTextBox Value="@_carouselItemForCreation.Alt" CssClass="mb-1" Placeholder="Image Alternative Text" FloatLabelType="@FloatLabelType.Auto" ShowClearButton=true></SfTextBox>
            <SfTextBox Value="@_carouselItemForCreation.Caption" CssClass="mb-1" Placeholder="Image Caption Text" FloatLabelType="@FloatLabelType.Auto" ShowClearButton=true></SfTextBox>
            <SfTextBox Value="@_carouselItemForCreation.Image.FileName" CssClass="mb-2" Placeholder="Image File Name" FloatLabelType="@FloatLabelType.Auto" ShowClearButton=true></SfTextBox>
            <div class="flex-row">
                <SfButton Content="Create" CssClass="e-outline"> OnClick="@OnDeleteSelectedRowButtonClick"></SfButton>
            </div>
        </div>
    </div>
}

<h2>Selected Carousel Item</h2>
@if (_selectedRow is not null)
{
    <div class="row">
        <div class="col-4">
            @if (String.IsNullOrEmpty(_selectedRow.Image))
            {
                <figure class="img-container">
                    <img src="images/image-placeholder.jpg" alt="Image Place Holder" style="height:100%;width:100%;" />
                    <figcaption class="img-caption">Image Place Holder for Caption</figcaption>
                </figure>
            }
            else
            {
                <figure class="img-container">
                    <img src="@_selectedRow.Image" alt="@_selectedRow.ImageAlternativeText" style="height:100%;width:100%;" />
                    <figcaption class="img-caption">@_selectedRow.ImageCaption</figcaption>
                </figure>
            }
        </div>
        <div class="col-8">
            <SfTextBox Value="@_selectedRow.Identifier.ToString()" CssClass="mb-1" Placeholder="Unique Identifier" FloatLabelType="@FloatLabelType.Auto" Enabled="false"></SfTextBox>
            <SfTextBox Value="@_selectedRow.ImageAlternativeText" CssClass="mb-1" Placeholder="Image Alternative Text" FloatLabelType="@FloatLabelType.Auto" ShowClearButton=true></SfTextBox>
            <SfTextBox Value="@_selectedRow.ImageCaption" CssClass="mb-2" Placeholder="Image Caption Text" FloatLabelType="@FloatLabelType.Auto" ShowClearButton=true></SfTextBox>
            <div class="flex-row">
                <SfButton Content="Delete" CssClass="e-outline"> OnClick="@OnDeleteSelectedRowButtonClick"></SfButton>
                <SfButton Content="Update" CssClass="e-outline"> OnClick="@OnDeleteSelectedRowButtonClick"></SfButton>
            </div>
        </div>
    </div>
}
else
{
    <p>There is not selected carousel item to display ...</p>
}

<h2>Carousel Items Table</h2>
@if (_dataGridRows is not null)
{
    <div class="row">
        <SfGrid @ref="@_grid" DataSource="@_dataGridRows" AllowFiltering="true" AllowSorting="true" AllowPaging="true" AllowGrouping="true">
            <GridSelectionSettings Type="SelectionType.Single"></GridSelectionSettings>
            <GridEvents RowSelected="OnDataGridRowSelected" TValue="DataGridRow"></GridEvents>
            <GridPageSettings PageSize="10" CurrentPage="1"></GridPageSettings>
            <GridColumns>
                <GridColumn Field="@nameof(DataGridRow.Identifier)" HeaderText="Unique Identifier" TextAlign="TextAlign.Center"></GridColumn>
                <GridColumn Field="@nameof(DataGridRow.ImageAlternativeText)" HeaderText="Image Alternative Text" TextAlign="TextAlign.Center"></GridColumn>
                <GridColumn Field="@nameof(DataGridRow.ImageCaption)" HeaderText="Image Caption Text" TextAlign="TextAlign.Center"></GridColumn>
            </GridColumns>
        </SfGrid>
    </div>
}
else
{
    <p>There are not carousel items to display ...</p>
}

@code {
    private List<DataGridRow> _dataGridRows;
    private SfGrid<DataGridRow> _grid;
    private DataGridRow _selectedRow;
    private SfButton _deleteSelectedRowButton;
    private readonly CarouselItemForCreationDto _carouselItemForCreation = new()
    {
        Alt = String.Empty,
        Caption = String.Empty,
        Image = new ImageForCreationDto
        {
            FileName = String.Empty
        }
    };

    public sealed class DataGridRow
    {
        public int Identifier { get; set; }
        public string ImageAlternativeText { get; set; }
        public string ImageCaption { get; set; }
        public string Image { get; set; }
    }

    private readonly CarouselItemParameters _carouselItemParameters = new()
    {
        PageSize = 50,
        PageNumber = 1
    };

    private void OnDataGridRowSelected(RowSelectEventArgs<DataGridRow> args)
    {
        _selectedRow = args.Data;
    }

    protected override async Task OnInitializedAsync()
    {
        var response = await CarouselItemService.GetAllWithoutLinksAsync(_carouselItemParameters);
        var dataGridElements = response.Select(entity => new DataGridRow
        {
            Identifier = Int32.Parse(entity["Id"].ToString() ?? String.Empty), 
            ImageAlternativeText = entity["Alt"].ToString(), 
            ImageCaption = entity["Caption"].ToString(), 
            Image = String.Empty
        }).ToList();
        
        _dataGridRows = dataGridElements;
        _selectedRow = dataGridElements.FirstOrDefault();
    }

    private async Task OnDeleteSelectedRowButtonClick(MouseEventArgs arg)
    {
        var responseDetails = await CarouselItemService.DeleteAsync(_selectedRow.Identifier);
        if (responseDetails.IsSuccess)
        {
            if (_dataGridRows.Remove(_selectedRow))
            {
                _selectedRow = _dataGridRows.FirstOrDefault();
                await _grid.GoToPageAsync(1);
            }

            await _grid.Refresh();
        }
        else
        {
            await _grid.Refresh();
        }
    }
}