@page "/account/password/reset/{resetPasswordCode}"
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons
@using Blazor.Shared.Entities.DataTransferObjects
@using Blazor.Presentation.Client.Services
@inject AccountService AccountService
@inject NavigationManager NavigationManager

<AuthorizeView Context="_">
    <Authorized>
        <p>Please, signout to let register a new user.</p>
    </Authorized>
    <NotAuthorized>
        @if (_resetPasswordForCreationRequest is null)
        {
            <p><strong>Loading ...</strong></p>
        }
        else if (String.IsNullOrEmpty(ResetPasswordCode))
        {
            <p><strong>Loading reset password request code ...</strong></p>
        }
        else
        {
            <div id="sign-in-form-wrapper">
                <div class="row">
                    <div class="col-md-1 col-lg-2 col-xl-3"></div>
                    <div class="col-12 col-md-10 col-lg-8 col-xl-6 text-center">
                        <h1>Signin New User</h1>
                        <h2>Registration Form</h2>
                        <EditForm Model="_resetPasswordForCreationRequest" OnValidSubmit="OnValidSubmit">
                            <DataAnnotationsValidator></DataAnnotationsValidator>
                            
                            <SfTextBox @ref="@_textBoxPasswordObj" @bind-Value="_resetPasswordForCreationRequest.Password" Placeholder='Password' FloatLabelType='@FloatLabelType.Auto' ShowClearButton=true></SfTextBox>
                            <p><ValidationMessage For="@(() => _resetPasswordForCreationRequest.Password)"></ValidationMessage></p>
                            <SfTextBox @ref="@_textBoxRepeatedPasswordObj" @bind-Value="_resetPasswordForCreationRequest.RepeatedPassword" Placeholder='Repeated Password' FloatLabelType='@FloatLabelType.Auto' ShowClearButton=true></SfTextBox>
                            <p><ValidationMessage For="@(() => _resetPasswordForCreationRequest.RepeatedPassword)"></ValidationMessage></p>
                            <SfTextBox @ref="@_textBoxCodeObj" @bind-Value="_resetPasswordForCreationRequest.Code" Placeholder='Address' FloatLabelType='@FloatLabelType.Auto' ShowClearButton=true Multiline="true" Readonly="true"></SfTextBox>
                            <p><ValidationMessage For="@(() => _resetPasswordForCreationRequest.Code)"></ValidationMessage></p>

                            @if (_isBlocked)
                            {
                                <SfButton @ref="@_toggleSigninBtnObj" type="submit" IconCss="@_signinBtnIconCss" CssClass="@_resetPasswordBtnCssClass" Content="@_resetPasswordBtnContent" OnClick="@OnSubmitBtnClick" disabled></SfButton>
                            }
                            else
                            {
                                <SfButton @ref="@_toggleSigninBtnObj" type="submit" IconCss="@_signinBtnIconCss" CssClass="@_resetPasswordBtnCssClass" Content="@_resetPasswordBtnContent" OnClick="@OnSubmitBtnClick"></SfButton>
                            }
                        </EditForm>
                    </div>
                    <div class="col-md-1 col-lg-2 col-xl-3"></div>
                </div>
            </div>
        }
    </NotAuthorized>
</AuthorizeView>

@code {
    private SfTextBox _textBoxPasswordObj;
    private SfTextBox _textBoxRepeatedPasswordObj;
    private SfTextBox _textBoxEmailObj;
    private SfTextBox _textBoxCodeObj;
    private SfButton _toggleSigninBtnObj;
    private string _signinBtnIconCss = "e-icons e-bullet-6";
    private string _resetPasswordBtnContent = "Signin";
    private string _resetPasswordBtnCssClass = "e-flat mt-4 w-100";
    private readonly ResetPasswordForCreationDto _resetPasswordForCreationRequest = new();
    private bool _isBlocked;

    [Parameter]
    public string ResetPasswordCode { get; set; }

    private void OnSubmitBtnClick()
    {
        if (_toggleSigninBtnObj.Content != "Signin") return;
        this._resetPasswordBtnContent = "";
        this._resetPasswordBtnCssClass = "e-flat mt-4 w-100";
        this._signinBtnIconCss = "e-icons e-refresh";
    }

    protected override void OnInitialized()
    {
        _resetPasswordForCreationRequest.Code = ResetPasswordCode;
    }

    private async Task OnValidSubmit(EditContext arg)
    {
        _isBlocked = true;
        if (await AccountService.TryResetPasswordAsync(_resetPasswordForCreationRequest))
        {
            NavigationManager.NavigateTo("#");
            return;
        }

        _isBlocked = false;
    }
}

<style>
    #sign-in-form-wrapper {
        width: 100%;
        text-align: left;
        padding: 0px 20%;
    }
    .e-float-input.e-control-wrapper:not(.e-error) input:valid ~ label.e-float-text, .e-float-input.e-control-wrapper:not(.e-error) input ~ label.e-label-top.e-float-text {
        color: #343a40;
    }
    .e-refresh::before {
        content: '\e324';
    }
    .e-bullet-6::before {
        content: '\e326';
    }
</style>