@page "/Signin"
@page "/UserSignin"
@page "/User/Signin"
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons

<div id="sign-in-form-wrapper">
    <h1>Sign in</h1>
    <SfTextBox @ref="@TextBoxFirstNameObj" Placeholder='First Name' FloatLabelType='@FloatLabelType.Auto' maxlength="50" ShowClearButton=true></SfTextBox>
    <SfTextBox @ref="@TextBoxLastNameObj" Placeholder='Last Name' FloatLabelType='@FloatLabelType.Auto' maxlength="50" ShowClearButton=true></SfTextBox>
    <SfTextBox @ref="@TextBoxUserNameObj" Placeholder='User Name' FloatLabelType='@FloatLabelType.Auto' maxlength="50" ShowClearButton=true></SfTextBox>
    <SfTextBox @ref="@TextBoxPasswordObj" Placeholder='Password' FloatLabelType='@FloatLabelType.Auto' maxlength="50" ShowClearButton=true></SfTextBox>
    <SfTextBox @ref="@TextBoxEmailObj" Placeholder='Email' FloatLabelType='@FloatLabelType.Auto' ShowClearButton=true></SfTextBox>
    <SfTextBox @ref="@TextBoxPhoneObj" Placeholder='Phone' FloatLabelType='@FloatLabelType.Auto' maxlength="15" ShowClearButton=true></SfTextBox>
    <SfButton @ref="@ToogleSigninBtnObj" IconCss="@SigninBtnIconCss" CssClass="@SigninBtnCssClass" Content="@SigninBtnContent" OnClick="@OnToggleSigninBtnClick"></SfButton>
</div>

@code {
    SfTextBox TextBoxFirstNameObj;
    SfTextBox TextBoxLastNameObj;
    SfTextBox TextBoxUserNameObj;
    SfTextBox TextBoxPasswordObj;
    SfTextBox TextBoxEmailObj;
    SfTextBox TextBoxPhoneObj;
    SfButton ToogleSigninBtnObj;
    string SigninBtnIconCss = "e-icons e-bullet-6";
    string SigninBtnContent = "Signin";
    string SigninBtnCssClass = "e-flat mt-4 w-100";

    public void OnToggleSigninBtnClick()
    {
        if (ToogleSigninBtnObj.Content == "Signin")
        {
            this.SigninBtnContent = "";
            this.SigninBtnCssClass = "e-flat mt-4 w-100";
            this.SigninBtnIconCss = "e-icons e-refresh";
        }
        else
        {
            this.SigninBtnContent = "Signin";
            this.SigninBtnCssClass = "e-flat mt-4 w-100";
            this.SigninBtnIconCss = "e-icons e-bullet-6";
        }
    }
}

<style>
    #sign-in-form-wrapper {
        width: 100%;
        text-align: left;
        padding: 0px 20%;
    }

    .e-float-input.e-control-wrapper:not(.e-error) input:valid ~ label.e-float-text, .e-float-input.e-control-wrapper:not(.e-error) input ~ label.e-label-top.e-float-text {
        color: #343a40;
    }

    .e-refresh::before {
        content: '\e324';
    }

    .e-bullet-6::before {
        content: '\e326';
    }
</style>
