@page "/Login"
@page "/UserLogin"
@page "/User/Login"
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons

<div id="sign-in-form-wrapper">
    <h1>Login</h1>
    <SfTextBox @ref="@TextBoxUserNameObj" Placeholder='User Name' FloatLabelType='@FloatLabelType.Auto' maxlength="50" ShowClearButton=true></SfTextBox>
    <SfTextBox @ref="@TextBoxPasswordObj" Placeholder='Password' FloatLabelType='@FloatLabelType.Auto' maxlength="50" ShowClearButton=true></SfTextBox>
    <SfButton @ref="@ToogleBtnObj" Content="@LoginContent" OnClick="@OnToggleLoginBtnClick" CssClass="@LoginCssClass" IconCss="@LoginBtnIconCss"></SfButton>
</div>

@code {
    SfTextBox TextBoxUserNameObj;
    SfTextBox TextBoxPasswordObj;
    SfButton ToogleBtnObj;
    string LoginBtnIconCss = "e-icons e-bullet-6";
    string LoginContent = "Login";
    string LoginCssClass = "e-flat mt-4 w-100";

    public void OnToggleLoginBtnClick()
    {
        if (ToogleBtnObj.Content == "Login")
        {
            this.LoginContent = "";
            this.LoginBtnIconCss = "e-icons e-refresh";
            this.LoginCssClass = "e-flat mt-4 w-100";
        }
        else
        {
            this.LoginContent = "Login";
            this.LoginBtnIconCss = "e-icons e-bullet-6";
            this.LoginCssClass = "e-flat mt-4 w-100";
        }
    }
}

<style>
    #sign-in-form-wrapper {
        width: 100%;
        text-align: left;
        padding: 0px 20%;
    }

    .e-float-input.e-control-wrapper:not(.e-error) input:valid ~ label.e-float-text, .e-float-input.e-control-wrapper:not(.e-error) input ~ label.e-label-top.e-float-text {
        color: #343a40;
    }

    .e-refresh::before {
        content: '\e324';
    }

    .e-bullet-6::before {
        content: '\e326';
    }
</style>
